@import "../../global.scss";

.portofolio{
    background-color: lightseagreen;
    display : flex;
    flex-direction: column;
    align-items: center;


    h1{
        margin: 30px;
        font-size: 60px;
        color: white;
    }

    .container{
        overflow: hidden;
        height: 700px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .item{
            width: 400px;
            height: 300px;
            border-radius: 20px;
            border: 1px solid lightgrey;
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            transition : all 0.5s ease;
            cursor: pointer;

            h3{
                position: absolute;
                font-size: 60px;
                color: white;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }

            &:hover{
                background-color: $mainColor;
                img{
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }
    }
}